<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
            <form method="post" name="to_like" id="myform">
            {% csrf_token %}
            {{form}}
            <button name="my_button"  type="submit">sumbit</button>
            </form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function () {
    $("#myform").on("submit", function (event) {

    event.preventDefault(); 
    $.ajax({
      url: "/new_post", 
      type: "post",
      'data': $(this).serialize(),
      success: function (response) {
        console.log("Данные успешно отправлены!");
      },
    });
  });
});
</script>
</body>
</html>